.quickclick li {
    margin: 13px;
    font-size: 30px;
    list-style: none;
}

.quickclick li a{
    border-radius: 3px;
    background-color: lightSteelBlue;
    border: 1px solid;
    padding: 5px;
}

.fauxWeek {
    border-width: 5px;
    border-style: solid;
}

#left .quickclick ul {
    padding: 0;
    margin-left: 0;
}
